@import "../../styles";

.header {
  background-color: $majorelleBlue;
  padding-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  color: $white;
  margin-bottom: 30px;

  &--ios {
    padding-top: 50px;
    font-family: $latoBlack;
  }

  &--android {
    padding-top: 10px;
  }
}
